/* LM: 07-24-12 */

/* DEV STYLES (LM: 07-27-11)*/
.hide {
	display: none; 
}

.show {
	display : block;
}

.visible {
	visibility : visible;
}

.invisible {
	visibility : hidden;
}

.redb {
	border: 1px solid red;
}

.u {
	text-decoration: underline;
}

.b {
	font-weight: bold;
}
.i {
	font-style: italic;
}

/* W3C REBEL STYLES*/
.glow {
	/*glow*/
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.8);
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);	
}

.valign-top {
	vertical-align: top;
}

.valign-middle {
	vertical-align: middle;
}

.valign-bottom {
	vertical-align: bottom;
}

.align-r {
	text-align: right;
}

.align-l {
	text-align: left;
}

.align-j {
	text-align: justify;
}

.align-c {
	text-align: center;
}

.away {
	position: absolute;
	top: -1000px;
	left: -1000px;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.clr {clear:both; font-size:0; height:0px; line-height:0;}
/************ end of DEV STYLES ***********/

@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



html {
	margin:0;
	padding:0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'RobotoRegular', Arial, sans-serif;
	/* font-size: 14px; */
	font: 18px/27px
	/* See: http://phonegap.com/2011/07/19/craftyjs-on-android-device-using-phonegap/   [remove highlight on element when tapped] */
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	
	position: relative;
}

a:hover, 
a:active,
a:visited,
a:link { 
	outline: none; 
	color: #666;
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hlight {
	background-color: #D2EAFE;
}

.inline_block {
	display: inline-block;
}

.padding5px {
	padding: 5px !important;
}

.page {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

.page header {
	padding: 3px;
	margin: 0;
	margin-bottom: 5px;
	background-color: #33B5E5;
	color:#fff;
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.8);
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
	border-bottom: 1px solid #ccc;
	position: relative;
	text-align: center;	
	min-height: 45px;
	overflow: hidden;
}

footer {
	border-top: 1px solid #ccc;
	padding: 20px 3px;
	margin: 0;
	text-align: center;
	font-size: 12px;
	color: #30B5E5;
}

.page header h1 {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	margin-bottom:16px;
}

.page header .inline_block {
	text-align: center;
	vertical-align: top;
}

.page header .hleft,
.page header .hright {
	position: absolute;
	top: 3px;
}

.page header .hleft {	
	left: 5px;
}

.page header .hright {
	right: 5px;
} 

.page .content {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.page .content h1 {
	display: block;
	margin:0;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border:0;
	border-bottom: 1px solid #6BC9EC;
	color: #6BC9EC;
	font-size: 19px;
	font-weight: normal;
	padding:12px;
}

.page .content h1 small {
	color: #666;
	letter-spacing: 1px;
	font-size: 13px;
}


.listview {
	margin: 0;
	padding: 0;
	list-style: none;
}

.listview li {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #DFDFDF;
}

.listview li:last-child {
	border: 0;
}

.listview li a {
	display: block;
	margin:0;
	padding:17px;
}

.inline_block {
	display: inline-block;
}

#loading_page .content {
	text-align: center;
	font-style: italic;
} 

#loading_page .content span {
	display: block;
	margin-bottom: 20px;
	color: #666;
}


.list_button {
	width: 100%;
	border: 0;
	background-color: #16A5D7;	
	color: #fff;
	padding: 5px 30px;
	min-height: 40px;
    font-weight: bold;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.desc {
	font-size: 13px;	
	clear: both;
	padding: 5px;
	padding-left: 10px;
	padding-top: 10px;
	color: #666;
}

.title,
.listview time {
	width: 50%;
}

.title {
	text-align: right;
	color: #0099CC;
}

.listview time {
	text-align: left;
	color:#F03131;
}

#sched_list li {
	-webkit-transition: all 2s linear 0s;
	transition: all 2s linear 0s;
	padding: 3px;
}

#date_list,
#pin_list {
	letter-spacing: 2px;
}

#loading_page img {
	display:block;
	text-align: center;
	margin: 0 auto;
}

#channel_list li > a {
	position: relative;
}

#channel_list small {
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 4px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #33B5E5;
	color: #fff;
	border: 5px solid #E2F4FB;
}

.today {
	background-color: #FFFF9E !important;
	position: relative;
}

.today > img {
	position: absolute;
	right: 5px;
	top: 15px;
}

.trans,
.page {
	-webkit-transition: all 0.20s linear 0s;
	transition: all 0.20s linear 0s;
}

.button_depress {
	border: 0;
	background-color: #0099CC;
	-webkit-box-shadow: 0 0 20px #55A0FF;
	box-shadow: 0 0 20px #55A0FF;	
}

#menu_con {
	position: fixed;
	top: 135px;
	left:-500px;
	height: 100%;
	opacity: 0;
	background-color: #000;
	display:block;
	width: 100%;
	-webkit-box-shadow: 0 0 27px #000;
	box-shadow: 0 0 27px #000;	
	z-index: 50;
	border-top: 1px solid #2CB3E3;
}


.menu_up {
	left: 0 !important;
	opacity: 0.9 !important;
} 



#menu_con > div:first-child {
	border-right: 1px solid #2CB3E3;
}

#menu_con > div.inline_block {
	vertical-align: middle;
	font-weight: bold;
	font-size: 15px;	
	width: 47%;
	text-align: center;
}

#menu_con a {
	width: 100%;
	height: 100%;
	display:block;
}

#menu_con img {
	vertical-align: middle;
}


#date_list small,
#pin_list small {
	color: #999;
	padding-left: 10px;
}

#sked_refresh_con,
#show_pins_con,
#goto_bottom_con {
	text-align: center;
	border-top: 1px solid #2CB3E3;
	width:100%;
	display: block;
}
#sked_refresh,
#show_pins,
#goto_bottom {	
	width:100%;
	padding: 20px 0;
	color: #E0E0E0;	
}

#pin_program_list {
	margin-top: 10px;
	margin-bottom: 10px;
}

#pin_program_list li {
	padding-top: 8px;
}

#pin_program_list li:first-child {
	padding-top:0;
}

#pin_program_list time,
#pin_program_list .title {
	color: #999;
	letter-spacing: -1px;
}

#pin_program_list time {
	color: #16A5D7;
	padding-left: 5px;
}

#pin_program_list .channel {
	text-align: right;
	color: #999;
	font-size: 13px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.notify {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	position: fixed;
	top: 60px;	
	text-align: center;	
	z-index: 10;
	padding: 0 40px;
	opacity: 0.9;
}

.notify span {
	background-color: #83B600;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#app_logo {
	margin-top: 14px;
	vertical-align: middle;
	margin-bottom: 11px;
}

#menu_channel_list_link {
	padding-bottom: 8px;
	height: 58px !important;
}

#pin_program_list_page h1 > span {
	color: #999;
}